body{
    background: rgb(255, 255, 255);
}
.home_page{
position: static;
width: 1920px;
height: 639px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px 373px 100px 373px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
background: rgb(255, 255, 255);
}
.main_text{
position: static;
width: 556px;
height: 216px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 20px 0px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 60px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.meta_text{
position: static;
width: 556px;
height: 56px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 20px 0px;
color: rgb(136, 136, 136);
font-family: "Inter";
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.but_start{
position: static;
width: 78px;
height: 19px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 10px 16px 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(255, 255, 255);
font-family: "Inter";
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;

border-radius: 56px;
box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
background: rgb(242, 88, 34);
position: static;
width: 140px;
height: 51px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 10px 16px 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 48px;
}

.text_menu1{
position: static;
width: 40px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(242, 88, 34);
font-family: "Inter";
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.text_menu2{
position: static;
width: 62px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.text_menu3{
position: static;
width: 57px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.text_menu4{
position: static;
width: 58px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 6px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.vector{
width: 6px;
height: 3px;
left: 2px;
top: 10px;
border: 1px solid rgb(0, 0, 0);
}
.text_vec{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.text_menu5{
position: static;
width: 37px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.text_menu6{
position: static;
width: 30px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.text_menu7{
position: static;
width: 53px;
height: 17px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
a{
    text-decoration: none;
}
.menu-bar{
position: static;
width: 1174px;
height: 40px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 84px 0px;
}
.logo{
position: static;
width: 137px;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;

}
.logo-bar{
position: static;
width: 35px;
height: 40px;
left: 0;
right: 102px;
top: 0;
bottom: 0;
background: url(logo);
}
.logo-text{
    position: static;
    width: 86.33px;
    height: 17.47px;
    left: 49.79px;
    right: 0.88px;
    top: 11px;
    bottom: 11.53px;
}
.menu{
position: static;
width: 577px;
height: 37px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 460px;
}
.Watch{
position: static;
width: 556px;
height: 51px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.Meta_main{
position: static;
width: 556px;
height: 375px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.homeMeta{
position: static;
width: 1174px;
height: 375px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 84px 0px;
}
.background{
position: static;
width: 1920px;
height: 250px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 100px 0px 100px 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
background: rgb(255, 255, 255);
}
.Meta_img{
position: static;
width: 545px;
height: 375px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
background: url(pngfind);

}
.background_img1{
position: static;
width: 134px;
height: 50px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 48px;
}
.background_img2{
    position: static;
    width: 160px;
    height: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 48px;
    }
.background_img3{
    position: static;
    width: 160px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;
}
.background_img4{
    position: static;
    width: 160px;
    height: 50px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 48px;
}
.background_img5{
    position: static;
    width: 160px;
    height: 50px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 48px;
}
.background_img6{
    position: static;
    width: 160px;
    height: 50px;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 48px;
}

.pMeta{
position: static;
width: 99px;
height: 19px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 48px;
color: rgb(170, 170, 170);
font-family: "Inter";
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.block1{
position: static;
width: 310px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 61px;
}

.block2{
position: static;
width: 378px;
height: 310px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px 34px 40px 34px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 61px;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}

.block3{
position: static;
width: 310px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 61px;
}

.block{
position: static;
width: 1920px;
height: 510px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 0px 30px 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
background: rgb(255, 255, 255);
}
.icon{
position: static;
width: 70px;
height: 70px;
flex: none;
order: 0;
flex-grow: 0;
margin: 25px 0px;
}
.blockText{
position: static;
width: 235px;
height: 29px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 18px 0px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.block_p{
position: static;
width: 310px;
height: 42px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 18px 0px;
color: rgb(102, 102, 102);
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}

.block_but{
position: static;
width: 85px;
height: 21px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
flex: none;
order: 2;
flex-grow: 0;
margin: 25px 0px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 14px;
font-weight: 600;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
border: none;
background-color: rgb(255, 255, 255);
}

.txt{
position: static;
width: 1174px;
height: 126px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}

.txt_h2{
position: static;
width: 662px;
height: 58px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 48px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}

.txt_p{
position: static;
width: 740px;
height: 44px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
color: rgb(136, 136, 136);
font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
}
.services{
position: static;
width: 1174px;
height: 542px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}
.img_serv{
position: static;
width: 378px;
height: 284px;
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}
.serv_h5{
position: static;
width: 310px;
height: 29px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
color: rgb(0, 0, 0);
font-family: "Inter";
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.serv_p{
position: static;
width: 310px;
height: 72px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
color: rgb(102, 102, 102);
font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.serv_but{
position: static;
width: 166px;
height: 42px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px 16px 32px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
border-radius: 46px;
box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
background: rgb(242, 88, 34);
color: rgb(255, 255, 255);
font-family: "Inter";
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.serv1{
position: static;
width: 378px;
height: 542px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px 34px 34px 34px;
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 20px;
background: rgb(255, 255, 255);
}
.serv2{
position: static;
width: 378px;
height: 542px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px 34px 34px 34px;
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 20px;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
.serv3{
position: static;
width: 378px;
height: 542px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px 34px 34px 34px;
flex: none;
order: 2;
flex-grow: 1;
margin: 0px 20px;
background: rgb(255, 255, 255);
}
.serv_all{
position: static;
width: 1920px;
height: 916px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 373px 100px 373px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
background: rgb(250, 250, 250);
}
.serv_div{
position: static;
width: 310px;
height: 192px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}